[submodule "tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
    ignore = dirty
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
    url = https://github.com/kchmck/vim-coffee-script.git
    ignore = dirty
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
    url = https://github.com/pangloss/vim-javascript.git
    ignore = dirty
[submodule "bundle/bundle/ctrlp.vim"]
	path = bundle/bundle/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe
    ignore = dirty
[submodule "bundle/simple-pairs"]
	path = bundle/simple-pairs
	url = https://github.com/vim-scripts/simple-pairs
    ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
    ignore = dirty
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
    ignore = dirty
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less
    ignore = dirty
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus
    ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
    ignore = dirty
